@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap");

/* General styling */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  background-color: #f5f7fb;
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
  color: #293264;
}

/* Styling the start page */

.start-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-quizz {
  text-align: center;
}
.start-title {
  margin-bottom: 1rem;
  font-family: "Karla", sans-serif;
  font-size: 4.2rem;
  font-weight: 700;

}
.start-subtitle {
  font-size: 1.6rem;
  font-weight: 400;
  
  margin-bottom: 3rem;
}
.start-button {
  width: 200px;
  height: 50px;
  background-color: #4d5b9e;
  border: none;
  border-radius: 15px;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: #f5f7fb;
  cursor: pointer;
}

.start-button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

/* Styling the Qestion/Answer component */
.question-component {
  max-width: 60rem;
  margin: 0 auto;
  margin-top: 4rem;
  padding-bottom: 1.5rem;
  border-bottom: 2px solid #dbdef0;
}

.tags{
  display: flex;
  gap: 2.5rem;
}
.question {
margin-top: 2rem;
  margin-bottom: 1.2rem;
  font-family: "Karla", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;

}
.selectClass{
  background-color: #D6DBF5;
}
.choice-container{
  display: flex;
  gap: 1.7rem;
}

.choice, .tag{
  margin: 0;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
border: 1px solid #293264;
;
  border-radius: 8px;
cursor: pointer;
}

.tag{
  cursor: auto;
}

.category{
  background-color: aquamarine;
}

.difficulty{
  background-color: rgb(201, 37, 37);
}